@import "../../mixins/variables";

.divider {
  background: linear-gradient(to right,#d5d5d5, rgba(220, 220, 220, 0));
  height: 1px;
  margin: 20px 0;
}

.toggle {
  display: none;
}

.sidebar-container {
  width: 20vw;
  background-color: $darkerGrey;
  min-width: 200px;
  height: 100vh;
  list-style-type: none;
  padding-left: 50px;
  padding-top: 100px;
  font-family: $ralewayFont;
}

.left-panel {
  list-style-type: none;
  .website {
    text-align: left;
    cursor: pointer;
    .item {
      line-height: 30px;
      width: 100%;
    }
  }
}

.active {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .navbar-toggle {
    padding: 9px 10px;
    justify-content: center;
    width: 22px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    .icon-bar {
      width: 22px;
      height: 2px;
      display: block;
      border-radius: 1px;
      background-color: #3f3f3f;
      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }
  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 0;
    padding-top: 0;
    min-width: 100%;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .x {
      color: #3f3f3f;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      width: 22px;
      height: 40px;
      margin-left: auto;
    }
  }
  .active {
    background-color: #dcdcdc;
  }
}
