@import "../../mixins/variables";

.toggle {
  display: none;
}

.left-panel {
  width: 20vw;
  background-color: $darkerGrey;
  min-width: 200px;
  height: 100vh;
  list-style-type: none;
  .website {
    text-align: left;
    .item {
      line-height: 30px;
      width: 100%;
      cursor: pointer;
      font-family: $ralewayFont;
    }
  }
}

// @media only screen and (max-width: 900px) {
//   .left-panel {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: auto;
//     width: 100vw;
//   }
// }

@media only screen and (max-width: 640px) {
  .left-panel {
    position: fixed;
    width: 100%;
    height: auto;
    .website {
      .item {
        &:hover {
          background-color: purple;
        }
      }
    }
  }
  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }

  .toggle {
    display: inline-block;
    background-color: $darkerGrey;
  }

}
