@import "../../mixins/variables";

.header {
  padding: 20px 20px 0px;
  font-family: $robotoFont;
}

.container {
  display: flex;
}

.main-panel {
  width: 75vw;
}
.item-list {
  text-align: left;
  display: flex;
  padding: 10px;
}
.redditList {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 0 0 100%;
}

@media only screen and (max-width: 768px) {
  .main-panel {
    width: 100vw;
    .item-list {
      padding: 0;
    }
  }
}
